.home-article-card {
    width: 100%;
    height: 280px;
    padding: 0;
}

@media screen and (max-width:576px){
    .home-article-card{
        height: auto;
    }
}


.article-row {
    width: 100%;
    height: 100%;
}

.article-img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

@media screen and (max-width:576px){
    .article-img{
        height: 230px;
    }
}

.article-content {
    padding: 40px;
    margin: auto 0;
}

.menu-item {
    height: 100%;
    display: flex !important;
    align-items: center;
}

.main-container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}

@media screen and (min-width: 2000px) {
    .main-container {
        max-width: 1500px;
    }
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 2em;
}

