.header {
    background-color: white;
    padding: 0 24px;
    height: 64px;
    box-shadow: 0 1px 4px #888888;
    display: flex;
    flex-wrap: nowrap;

    a {
        cursor: pointer;
        color: black;
    }
}

.content {
    padding: 0 24px;
    width: 85%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sider {
    width: 100% !important;
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: white;
}

.footer {
    height: 64px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 240, 240);
}

.layout-outside-container {
    height: 100vh;
}

.layout-inside-container {
    margin: 0 auto;
    padding: 2rem 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}




.header-col{
    display: flex;
    justify-content: flex-end;
}


.header-nav {
    height: 100%;
    width: 100%;
    border-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

