.header{
    background-color: white;
    padding: 0 24px;

    a{
        cursor: pointer;
        color: black;
    }
}

.content{
    padding: 0 24px;
    width: 75%;
}

.sider{
    flex:0 0 350px !important;
    max-width: 400px !important;
    width: 100% !important;
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: white;
}

.footer{
    text-align: center;
    background-color: #fff;
}

.layout-outside-container{
    height: 100vh;
}

.layout-inside-container{
    margin: 0 auto;
    padding: 2rem 15px;
    width: 1200px;
}

@media  (min-width: 2000px)  {
    .layout-inside-container{
        width: 1500px;
    }
    
}


.header-nav{
    text-align: end;
}